# All that you need to know about the Club Logo Designing Competition

## The most creative logos, tell simple stories!

The Club is designing the logo, play with your innovative and creative ideas and participate in the contest.

##Rules and Guidelines:

*Participation Time* : 23rd June 2021, 8 am - 27th June 2021, 12 PM
*Team Size*: 1-2 members

- The logo should also contain the name of the Club: *CodeX*
- To create the logo, the students can use words and/or images.
- The logo should be done with the digital technique but it can include parts of hand drawings or photography, which are scanned and included in the logo itself.
- As the logo might also be printed in small format, it must be neat and clear.
- For the logo, the maximum number of four different colours can be used. The choice of four colors adds to the logo’s clarity and neatness.
- Logo should be digital and in image format. The logo will be sent in JPG format, with a resolution of 300 DPI.
- Logo should be submitted in high resolution so that each of its components is clearly visible.

##Judgment Criteria:

- Visual appeal 
- Adherence to concept and value
- Quality of design : The design must be easy to reproduce on different supports
- Creativity/ Innovation : The best quality, neatness and innovation will be valued
